body {
    margin-top: 30px;
}

img {
    height: 200px !important;
    border: 2px solid transparent;
}

.borderRed {
    border: 4px solid #f00;
}

.thumbnail, .panel-heading {
    text-align: center;
}

.anel-body {

}

.form-control {
    text-align: right;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: right;
}

.input-group[class*=col-] {
    float: right;
    margin: 0 30px 30px 0;
}

.btn {
    float: right;
    margin: 0 30px 30px 0;
}

.fa {
    margin-right: 5px;
}

.noResult{
    color: #00f;
    text-align: center;
}

.noResult span{
    color: #f00;
}